<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.maplibre.navigation.android.navigation">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <service
            android:name="org.maplibre.navigation.android.navigation.v5.navigation.NavigationService"
            android:foregroundServiceType="location" />
    </application>

</manifest>
